@font-face {
	font-family: 'Avenir-Regular';
	src: url('fonts/AvenirNextLTPro-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-Medium';
	src: url('fonts/AvenirNextLTPro-Medium.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'Avenir-IT';
	src: url('fonts/AvenirNextLTPro-It.otf');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family: Avenir;
	color: black;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: normal;
}

a:hover {
	text-decoration: none;
	transition: .02ms, ease;
}

.header {
	margin: auto;
}

.fill {
	width: 100%;
}

#logo {
	color: #623CEA;
	font-weight: bold;
	margin: auto;
}

#left {
	font-weight: bold;
	margin: 0;
	margin-left: 1em;
}

.tab-section {
	margin-top: 2em;
}

.tabs {
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: normal;
}

.about-section {
	padding-top:40px;
}

.tabs:hover {
	color: #FF9B71;
}

.tab-bar {
	background: #73F9BC;
	height: 7em;
}

#tab-active {
background-color: white;
width: 215px;
height: 97px;
left: 19px;
margin-top: 1em;
}

.tab-pos {
	margin-top: 3.25em;
}


#t-active {
	font-weight: bold;
	color: #FF9B71;
	margin-left: 2em;
	margin-top: -2.75em;
}


.section-img {
	height: 500px;
	background-repeat: no-repeat;
}

.footer {
	height: 150px;
}

.footer-link {
	font-family: Avenir-Medium;
	font-size: 30px;
	color: #73F9BC;
}

.footer-link:hover {
	color: #FF9B71;
}

.footer-items {
	padding-top: 3em;
}

.preview-img {
	position: relative;
	width: 50%;
}

.preview-img:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.socials {
	width: 50%;
    text-align: right;
	text-decoration: none;
}

#feat-article {
	ma

}

.view-link {
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: normal;
}

.featured-subtitle {
font-family: Avenir-Bold;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: normal;

}

.center {
	margin: auto;
}

.margin-left {
	margin-left: 3em;
}

.best-header {
  text-align: center;
}

.column-fmt {
  display: flex;
  margin: 1em;
  border: 3px red solid;
}

.paragraph {
  margin: 1em;
  font-size: 1.2em;
}
